/*
Affectively AI Gateway API

Unified AI Gateway API for accessing multiple LLM providers through a single interface.  ## Overview The AI Gateway provides a unified interface to Affectively's self-hosted distributed inference running on Cloudflare Workers and Google Cloud Run. All models are open-source and self-hosted - no paid third-party AI providers are used.  ## Available Models Self-hosted models on Cloudflare Workers and Cloud Run: - **Text Generation**: mistral-7b, llama-70b, llama-13b, glm-4.7, qwen-edit, tinyllama-1.1b, deepseek-1.5b, deepseek-3b - **Vision/Image Generation**: flux-4b - **Audio/TTS**: vibevoice-9b - **Translation**: translategemma-4b  ## Authentication All requests require an API key via the `Authorization` header: ``` Authorization: Bearer YOUR_API_KEY ```  For Cloudflare AI Gateway, use the `cf-aig-authorization` header: ``` cf-aig-authorization: Bearer YOUR_CLOUDFLARE_TOKEN ```  ## Token Counting Tokens are the fundamental unit of rate limiting in the AI Gateway. All models are self-hosted with no per-token costs.  ### What are Tokens? - **Input tokens**: Text you send to the AI model (typically ~4 characters per token) - **Output tokens**: Text the AI generates (variable, typically longer than input)  ### Token Examples - \"Hello\" ≈ 1 token - A paragraph ≈ 50-100 tokens - A page ≈ 300-500 tokens - An image (via vision models) ≈ 85-130 tokens  ### Optimization Tips - Use shorter prompts and be specific about requirements - For ensemble models, input tokens are counted once but output scales with model count - Streaming responses count the same as non-streaming 

API version: 1.0.0
Contact: support@emotions.app
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package edgework_sdk

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// Linger please
var (
	_ context.Context
)

// ChatCompletionsApiService ChatCompletionsApi service
type ChatCompletionsApiService service

type ApiCreateChatCompletionRequest struct {
	ctx context.Context
	ApiService *ChatCompletionsApiService
	chatCompletionRequest *ChatCompletionRequest
	xRequestID *string
	xCorrelationID *string
}

func (r ApiCreateChatCompletionRequest) ChatCompletionRequest(chatCompletionRequest ChatCompletionRequest) ApiCreateChatCompletionRequest {
	r.chatCompletionRequest = &chatCompletionRequest
	return r
}
// Optional request ID for tracking
func (r ApiCreateChatCompletionRequest) XRequestID(xRequestID string) ApiCreateChatCompletionRequest {
	r.xRequestID = &xRequestID
	return r
}
// Optional correlation ID for distributed tracing
func (r ApiCreateChatCompletionRequest) XCorrelationID(xCorrelationID string) ApiCreateChatCompletionRequest {
	r.xCorrelationID = &xCorrelationID
	return r
}

func (r ApiCreateChatCompletionRequest) Execute() (*ChatCompletionResponse, *http.Response, error) {
	return r.ApiService.CreateChatCompletionExecute(r)
}

/*
CreateChatCompletion Create chat completion

Generate text responses using a specified language model.

## Advanced Modalities

### Ensemble Mode
Sends the same prompt to multiple models and combines responses intelligently:
- **Ensemble Cost**: Input tokens charged once; output tokens for each model
- **Use Cases**: High-stakes decisions requiring diverse perspectives
- **Response Merging**: Results are combined based on agreement and confidence

### Meta-Metacognition
Enables multi-layer reasoning where models analyze their own reasoning:
- **Layer 1**: Initial response generation
- **Layer 2**: Self-reflection on reasoning process
- **Layer 3**: Meta-analysis of reflection quality
- **Cost Impact**: 3x token usage (one per layer)
- **Benefit**: More nuanced, self-aware responses

### Monte Carlo Analysis
Runs multiple probabilistic iterations to handle uncertainty:
- **Iterations**: Configurable (typically 5-20 runs)
- **Token Cost**: `num_iterations × base_tokens`
- **Use Cases**: Probability estimation, scenario analysis, risk assessment
- **Convergence**: Results stabilize with more iterations
- **Standard Deviation**: Measure of response variability


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateChatCompletionRequest
*/
func (a *ChatCompletionsApiService) CreateChatCompletion(ctx context.Context) ApiCreateChatCompletionRequest {
	return ApiCreateChatCompletionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChatCompletionResponse
func (a *ChatCompletionsApiService) CreateChatCompletionExecute(r ApiCreateChatCompletionRequest) (*ChatCompletionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChatCompletionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatCompletionsApiService.CreateChatCompletion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chat/completions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatCompletionRequest == nil {
		return localVarReturnValue, nil, reportError("chatCompletionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		localVarHeaderParams["X-Request-ID"] = parameterToString(*r.xRequestID, "")
	}
	if r.xCorrelationID != nil {
		localVarHeaderParams["X-Correlation-ID"] = parameterToString(*r.xCorrelationID, "")
	}
	// body params
	localVarPostBody = r.chatCompletionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cloudflareAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["cf-aig-authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v RateLimitError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
